.container__mobile-nav a:nth-child(2) {
  filter: brightness(50%);
}

.tablet__btn:nth-child(2) {
  background-color: var(--fc-color-brand-950);
}

.header__list-icon li:nth-child(2) a {
  filter: brightness(50%);
}

.favoritos {
  padding-top: 32px;
}

.produtos__filtro-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding-bottom: 16px;
}

.favoritos__titulo {
  color: var(--fc-color-brand-950);
  font-family: var(--fc-font-type-primary);
  font-size: var(--fc-font-size-heading-sm);
  padding-bottom: 16px;
}

.produtos__subtitulo {
  color: var(--fc-color-brand-950);
  font-family: var(--fc-font-type-primary);
  font-size: var(--fc-font-size-body-lg);
}

.filtros_btn {
  height: 40px;
  background-color: var(--fc-color-brand-700);
  color: var(--fc-color-brand-50);
  font-family: var(--fc-font-type-primary);
  font-size: var(--fc-font-size-body-lg);
  border: none;
  border-radius: 18px;
}

.filtros_btn:hover {
  background-color: var(--fc-color-brand-800);
}

.filtros_btn:active {
  background-color: var(--fc-color-brand-900);
}

.filtros_btn:focus {
  background-color: var(--fc-color-brand-950);
}

.produtos__lista {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.produtos__card {
  justify-content: space-between;
  display: flex;
  background-color: var(--fc-color-brand-200);
  width: 100%;
  height: calc((100vw - 40px) * 0.55);
  border-radius: 12px;
  gap: 16px;
}

.produtos__card-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.produto__titulo {
  color: var(--fc-color-brand-950);
  font-family: var(--fc-font-type-primary);
  font-size: var(--fc-font-size-body-lg);
  padding: 16px 24px;
}

.produto__descricao {
  color: var(--fc-color-brand-900);
  font-family: var(--fc-font-type-primary);
  font-size: var(--fc-font-size-body-sm);
  padding: 16px 24px;
}

.produto__preco {
  color: var(--fc-color-brand-950);
  font-family: var(--fc-font-type-primary);
  font-size: var(--fc-font-size-body-sm);
  padding: 16px 24px;
}

.produtos__imagem-container {
  padding: 16px 16px 16px 0px;
  width: 104px;
  height: 104px;
}

.produtos__imagem-container img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
}

.produtos__btns {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  padding: 16px 16px 16px 16px;
  margin-top: -16px;
  margin-left: -16px;
}

.produtos__btn {
  background-color: var(--fc-color-brand-700);
  box-shadow: var(--fc-shadow-highlight-light);
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 104px;
}

.produtos__btn:hover {
  filter: brightness(70%);
}

.produtos__btn:active {
  filter: brightness(50%);
}
.produtos__btn:focus {
  filter: brightness(30%);
}

.produtos__btn img {
  margin-top: 4px;
  height: 16px;
  width: 16px;
}

.produtos__btn-secundario {
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: var(--fc-color-brand-700);
}

.produtos__btn-carrinho {
  filter: brightness(0%) contrast(100%) invert(100%) sepia(18%) saturate(2450%)
    hue-rotate(292deg) brightness(98%) contrast(92%);
}

.disable {
  display: none;
}

.favoritos__vazio-subtitulo {
  padding: 64px;
  color: var(--fc-color-brand-950);
  font-family: var(--fc-font-type-primary);
  font-size: var(--fc-font-size-heading-xl);
  text-align: center;
}

.favoritos__vazio-texto {
  padding: 32px;
  text-align: center;
  color: var(--fc-color-brand-950);
  font-family: var(--fc-font-type-primary);
  font-size: var(--fc-font-size-body-lg);
  line-height: var(--fc-font-line-height-body);
}

.favoritos__vazio-texto a {
  text-decoration: none;
  color: var(--fc-color-brand-700);
  background-color: var(--fc-color-brand-200);
  border-radius: 12px;
  padding: 4px;
}
.favoritos__vazio-texto a:hover {
  background-color: var(--fc-color-brand-500);
}

.popup {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: 25%;
  border-radius: 16px;
  padding: 24px;
  box-shadow: var(--fc-shadow-depth-heavy);
  background-color: var(--fc-color-brand-800);
  z-index: 2;
}

.popup__titulo {
  color: var(--fc-color-brand-50);
  font-family: var(--fc-font-type-primary);
  font-size: var(--fc-font-size-body-lg);
  padding: 8px;
  padding-bottom: 16px;
}

.popup__btn-voltar {
  border: 2px solid var(--fc-color-brand-50);
  background-color: transparent;
  border-radius: 16px;
  padding: 8px;
  font-family: var(--fc-font-type-primary);
  color: var(--fc-color-brand-50);
}
.popup__btn-voltar:hover {
  color: var(--fc-color-brand-100);
  border: 2px solid var(--fc-color-brand-100);
}
.popup__btn-voltar:active {
  color: var(--fc-color-brand-200);
  border: 2px solid var(--fc-color-brand-200);
}
.popup__btn-voltar:focus {
  color: var(--fc-color-brand-300);
  border: 2px solid var(--fc-color-brand-300);
}

.popup__btn-redirecionar {
  padding: 8px;
  border: none;
  border-radius: 16px;
  background-color: var(--fc-color-brand-50);
}

.popup__btn-redirecionar:hover {
  background-color: var(--fc-color-brand-100);
}

.popup__btn-redirecionar:active {
  background-color: var(--fc-color-brand-200);
}

.popup__btn-redirecionar:focus {
  background-color: var(--fc-color-brand-300);
}

.popup__btn-redirecionar a {
  text-decoration: none;
  font-family: var(--fc-font-type-primary);
  color: var(--fc-color-brand-950);
}

.disable,
.produto__categoria,
.produto__id {
  display: none;
}

@media screen and (min-width: 768px) {
  .favoritos {
    padding-top: 40px;
  }
  .favoritos__titulo {
    font-size: var(--fc-font-size-heading-md);
    padding-bottom: 32px;
  }

  .produtos__lista {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .produtos__card {
    height: 200px;
    width: 45%;
  }

  .produtos .section__hr {
    margin-top: 40px;
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .favoritos {
    padding-top: 64px;
  }

  .favoritos__titulo {
    font-size: var(--fc-font-size-heading-xl);
  }

  .produtos__filtro-container {
    padding: 0px 80px;
  }

  .produtos__lista {
    padding: 32px 80px;
  }

  .produtos__titulo {
    font-size: var(--fc-font-size-heading-xl);
    padding-bottom: 48px;
  }

  .produtos__card {
    height: 200px;
    width: 30%;
  }
  .produtos .section__hr {
    margin-top: 64px;
  }
}
