.container__mobile-nav a:nth-child(3) {
  filter: brightness(50%);
}

.container__tablet a:nth-child(1) {
  filter: brightness(50%);
}

.header__list-icon li:nth-child(3) a {
  filter: brightness(50%);
}

.perfil {
  padding-top: 8px;
}

.perfil__titulo {
  color: var(--fc-color-brand-950);
  font-family: var(--fc-font-type-primary);
  font-size: var(--fc-font-size-heading-sm);
  padding-bottom: 16px;
}

.perfil__input-foto {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 16px;
  margin: 24px;
  gap: 12px;
}

.perfil__foto-background {
  width: 160px;
  height: 120px;
  border-radius: 104px;
  background-color: var(--fc-color-brand-300);
}

.perfil__btn-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.perfil__foto-btn {
  padding: 4px 32px;
  border: none;
  font-size: var(--fc-font-size-body-md);
  font-family: var(--fc-font-type-primary);
  border-radius: 16px;
  background-color: var(--fc-color-brand-700);
}

.perfil__foto-btn a {
  color: var(--fc-color-brand-50);
  text-decoration: NONE;
}

.perfil__foto-btn:hover {
  background-color: var(--fc-color-brand-800);
}
.perfil__foto-btn:active {
  background-color: var(--fc-color-brand-900);
}
.perfil__foto-btn:focus {
  background-color: var(--fc-color-brand-950);
}

.perfil__cabecario-texto {
  width: 95%;
  padding: 12px 16px 12px;
  margin: 16px 0;
  border-radius: 16px;
  background-color: var(--fc-color-brand-200);
  font-size: var(--fc-font-size-body-md);
  font-family: var(--fc-font-type-primary);
  color: var(--fc-color-brand-950);
}

.perfil__cabecario-titulo {
  padding: 12px 16px 12px;
  width: 140px;
  margin: 16px 0;
  border-radius: 16px;
  background-color: var(--fc-color-brand-200);
  font-size: var(--fc-font-size-body-md);
  font-family: var(--fc-font-type-primary);
  color: var(--fc-color-brand-950);
}

.perfil__cabecario-input {
  padding: 0 8px;
  width: 95%;
  border: 2px solid var(--fc-color-brand-400);
  font-size: var(--fc-font-size-body-md);
  font-family: var(--fc-font-type-primary);
  color: var(--fc-color-brand-950);
  height: 40px;
  border-radius: 16px;
}

.perfil__btn-submit {
  margin-left: auto;
  margin-top: 32px;
  display: block;
  padding: 8px 32px;
  border: none;
  font-size: var(--fc-font-size-body-md);
  font-family: var(--fc-font-type-primary);
  border-radius: 16px;
  color: var(--fc-color-brand-50);
  background-color: var(--fc-color-brand-700);
}

.perfil__btn-submit:hover {
  background-color: var(--fc-color-brand-800);
}
.perfil__btn-submit:active {
  background-color: var(--fc-color-brand-900);
}
.perfil__btn-submit:focus {
  background-color: var(--fc-color-brand-950);
}

@media screen and (min-width: 768px) {
  .perfil {
    padding-top: 40px;
  }
  .perfil__titulo {
    font-size: var(--fc-font-size-heading-md);
    padding-bottom: 32px;
  }

  .perfil__container-cabecario-input {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 8px;
  }

  .perfil__btn-submit {
    margin-top: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .perfil {
    padding-top: 40px;
  }

  .perfil__titulo {
    font-size: var(--fc-font-size-heading-xl);
    padding-bottom: 32px;
  }

  .perfil__container {
    padding: 0 64px;

    gap: 32px;
  }

  .perfil__input-foto {
    width: 40%;
    gap: 88px;
    flex-direction: column;
    justify-content: center;
  }
}
