.mobile-lista-menu__item:nth-child(2) a {
  color: var(--fc-color-brand-950);
}

.tablet-lista-menu__item:nth-child(2) a {
  color: var(--fc-color-brand-950);
}

.header li:nth-child(1) a {
  color: var(--fc-color-brand-950);
}

.produto {
  padding-top: 32px;
}

.produto__titulo {
  font-family: var(--fc-font-type-primary);
  font-size: var(--fc-font-size-heading-sm);
  color: var(--fc-color-brand-950);
  padding-bottom: 16px;
}

.produto__subtitulo {
  font-family: var(--fc-font-type-primary);
  padding: 16px 0;
  text-indent: 0px;
  text-align: center;
  font-size: var(--fc-font-size-body-md);
  color: var(--fc-color-brand-950);
}

.produto__subtitulo-highlight {
  color: var(--fc-color-brand-900);
}

.produto__container-imagem {
  height: calc((100vw - 40px) * 0.55);
  padding-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

.produto__imagem {
  width: 100%;
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
}

.produto__texto {
  text-indent: 50px;
  text-align: justify;
  font-family: var(--fc-font-type-primary);
  color: var(--fc-color-brand-950);
  line-height: var(--fc-font-line-height-body);
  font-size: var(--fc-font-size-body-sm);
  padding-bottom: 16px;
}

.popup {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: 25%;
  border-radius: 16px;
  padding: 24px;
  box-shadow: var(--fc-shadow-depth-heavy);
  background-color: var(--fc-color-brand-800);
  z-index: 2;
}

.popup__titulo {
  color: var(--fc-color-brand-50);
  font-family: var(--fc-font-type-primary);
  font-size: var(--fc-font-size-body-lg);
  padding: 8px;
  padding-bottom: 16px;
}

.popup__btn-voltar {
  border: 2px solid var(--fc-color-brand-50);
  background-color: transparent;
  border-radius: 16px;
  padding: 8px;
  font-family: var(--fc-font-type-primary);
  color: var(--fc-color-brand-50);
}
.popup__btn-voltar:hover {
  color: var(--fc-color-brand-100);
  border: 2px solid var(--fc-color-brand-100);
}
.popup__btn-voltar:active {
  color: var(--fc-color-brand-200);
  border: 2px solid var(--fc-color-brand-200);
}
.popup__btn-voltar:focus {
  color: var(--fc-color-brand-300);
  border: 2px solid var(--fc-color-brand-300);
}

.popup__btn-redirecionar {
  padding: 8px;
  border: none;
  border-radius: 16px;
  background-color: var(--fc-color-brand-50);
}

.popup__btn-redirecionar:hover {
  background-color: var(--fc-color-brand-100);
}

.popup__btn-redirecionar:active {
  background-color: var(--fc-color-brand-200);
}

.popup__btn-redirecionar:focus {
  background-color: var(--fc-color-brand-300);
}

.popup__btn-redirecionar a {
  text-decoration: none;
  font-family: var(--fc-font-type-primary);
  color: var(--fc-color-brand-950);
}

.disable {
  display: none;
}

@media screen and (min-width: 768px) {
  .produto {
    padding-top: 32px;
  }

  .produto__titulo {
    font-size: var(--fc-font-size-heading-md);
    padding-bottom: 24px;
  }
  .produto__subtitulo {
    font-size: var(--fc-font-size-heading-xs);
  }

  .produto__container-imagem {
    height: 354px;
    width: 562px;
  }

  .produto__texto {
    font-size: var(--fc-font-size-body-md);
  }
}

.app__produto-descricao {
  display: none;
}

.produto__container-btn-preco {
  justify-content: space-between;
  display: flex;
  align-items: center;
  font-size: var(--fc-font-size-body-lg);
  font-family: var(--fc-font-type-primary);
  color: var(--fc-color-brand-950);
}

.produtos__btns {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.produtos__btn {
  background-color: var(--fc-color-brand-700);
  box-shadow: var(--fc-shadow-highlight-light);
  color: var(--fc-color-brand-50);
  border: none;
  padding: 12px;
  border-radius: 104px;
}

.produtos__btn:hover {
  filter: brightness(70%);
}

.produtos__btn:active {
  filter: brightness(50%);
}
.produtos__btn:focus {
  filter: brightness(30%);
}

.produtos__btn img {
  height: 16px;
  width: 16px;
}

.produtos__btn-secundario {
  color: var(--fc-color-brand-700);
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: var(--fc-color-brand-700);
}

.produtos__btn-carrinho {
  filter: brightness(0%) contrast(100%) invert(100%) sepia(18%) saturate(2450%)
    hue-rotate(292deg) brightness(98%) contrast(92%);
}

@media screen and (min-width: 1440px) {
  .produto {
    padding: 64px 16px 32px;
  }

  .produto__container {
    display: flex;
    align-items: center;
    gap: 64px;
  }

  .produto__titulo {
    font-size: var(--fc-font-size-heading-xl);
  }
  .produto__subtitulo {
    padding: 32px 0;
    font-size: var(--fc-font-size-heading-sm);
  }
  .produto__container-imagem {
    height: 484px;
    width: 640px;
  }

  .produto__texto-container {
    width: 60%;
  }

  .produto__texto {
    font-size: var(--fc-font-size-body-lg);
    padding-bottom: 32px;
  }
}
