<footer class="rodape" id="contatos">
  <div class="rodape__container">
    <h2 class="rodape__logo">
      <img
        src="/assets/images/icons/Logo-inteira.png"
        alt="Logo flora charme"
      />
    </h2>
    <p class="rodape__paragrafo">
      Esse projeto foi desenvolvido pela Luiza Ferreira como parte do projeto do
      grupo desenvolve da Boticário.
    </p>
  </div>
  <div class="rodape__container">
    <div class="rodape__lista-container">
      <ol class="rodape__lista">
        <li class="rodape__lista-titulo">Contato</li>
        <li class="rodape__lista-item">
          <a href="https://www.linkedin.com/in/luiza-ferreira-a41458281/"
            >Linkedin</a
          >
        </li>
        <li class="rodape__lista-item">
          <a href="https://github.com/LuhOli42">Github</a>
        </li>
      </ol>
      <ol class="rodape__lista">
        <li class="rodape__lista-titulo">Paginas</li>
        <li class="rodape__lista-item"><a href="/">Home</a></li>
        <li class="rodape__lista-item">
          <a href="/sobre-nos">Sobre-nós</a>
        </li>
        <li class="rodape__lista-item">
          <a href="/favoritos">Produtos</a>
        </li>
        <li class="rodape__lista-item">
          <a href="/contato">Contato</a>
        </li>
      </ol>
    </div>
  </div>
</footer>
