<header class="header">
  <a href="/" class="header__icon-logo"
    ><img src="../assets/images/icons/Logo-inteira.png" alt="Logo Flora Charme"
  /></a>

  <ul class="header__list">
    <li>
      <a href="/produtos" class="header__link">Produtos</a>
    </li>
    <li>
      <a href="/sobre-nos" class="header__link">Sobre-nós</a>
    </li>
    <li>
      <a href="/contato" class="header__link">Contatos</a>
    </li>
  </ul>

  <ul class="header__list-icon">
    <li>
      <a href="/carrinho" class="header__icons"
        ><img src="../assets/images/icons/Carrinho.png" alt="Carrinho"
      /></a>
    </li>
    <li>
      <a href="/favoritos" class="header__icons"
        ><img src="../assets/images/icons/Coracao.png" alt="Favoritos"
      /></a>
    </li>
    <li>
      <a href="/login" class="header__icons"
        ><img src="../assets/images/icons/Perfil.png" alt="Perfil"
      /></a>
    </li>
  </ul>
</header>
