<nav class="mobile__nav-bar">
  <div class="mobile__nav-bar-smartphone">
    <div class="container__mobile-nav">
      <a href="/carrinho" class="mobile__icons"
        ><img src="./assets/images/icons/Carrinho.png" alt="Carrinho"
      /></a>
      <a href="/favoritos" class="mobile__icons"
        ><img src="./assets/images/icons/Coracao.png" alt="Favoritos"
      /></a>
      <a href="/login" class="mobile__icons"
        ><img src="./assets/images/icons/Perfil.png" alt="Perfil"
      /></a>
      <div class="container__mobile-menu-hamburguer">
        <input
          type="checkbox"
          id="mobile-menu-hamburguer"
          class="mobile-menu-hamburguer__botao"
        />
        <label for="mobile-menu-hamburguer" class="mobile__icons">
          <img
            src="./assets/images/icons/Menu-hambuguer.png"
            alt="Menu"
            class="tablet__menu-hamburguer"
          />
        </label>
        <ul class="mobile-lista-menu">
          <li class="mobile-lista-menu__item">
            <a href="/">Home</a>
          </li>
          <li class="mobile-lista-menu__item">
            <a href="/produtos">Produtos</a>
          </li>
          <li class="mobile-lista-menu__item">
            <a href="/sobre-nos">Sobre-nós</a>
          </li>
          <li class="mobile-lista-menu__item">
            <a href="/contatos">Contatos</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mobile__nav-bar-tablet">
    <div class="tablet__header">
      <a href="/"
        ><img
          src="./assets/images/icons/Logo-inteira.png"
          alt="Logo Flora Charme"
          class="tablet__logo-icon"
      /></a>
      <div class="container__tablet">
        <a href="/login"
          ><img
            src="./assets/images/icons/Perfil.png"
            alt="Perfil"
            class="tablet__perfil-icon"
        /></a>
        <div class="container__tablet-menu-hamburguer">
          <input
            type="checkbox"
            id="tablet-menu-hamburguer"
            class="tablet-menu-hamburguer__botao"
          />
          <label for="tablet-menu-hamburguer" class="tablet__icons">
            <img
              src="./assets/images/icons/Menu-hambuguer.png"
              alt="Menu"
              class="tablet__menu-hamburguer"
            />
          </label>
          <ul class="tablet-lista-menu">
            <li class="tablet-lista-menu__item">
              <a href="/">Home</a>
            </li>
            <li class="tablet-lista-menu__item">
              <a href="/produtos">Produtos</a>
            </li>
            <li class="tablet-lista-menu__item">
              <a href="/sobre-nos">Sobre-nós</a>
            </li>
            <li class="tablet-lista-menu__item">
              <a href="/contato">Contatos</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tablet__btns">
      <button class="tablet__btn">
        <a href="/carrinho"
          ><img src="./assets/images/icons/Carrinho.png" alt="Carrinho"
        /></a>
      </button>
      <button class="tablet__btn">
        <a href="/favoritos"
          ><img src="./assets/images/icons/Coracao.png" alt="Favoritos"
        /></a>
      </button>
    </div>
  </div>
</nav>
