<div class="popup__finalizado disable popup">
  <h3 class="popup__titulo">Compra finalizada com sucesso</h3>
  <button class="popup__btn-redirecionar">
    <a href="/">Home</a>
  </button>
  <button class="popup__btn-redirecionar">
    <a href="/comprasFinalizadas">Compras Finalizadas</a>
  </button>
</div>
