<div class="popup__carrinho disable popup">
  <h3 class="popup__titulo">Item adicionado no carrinho com sucesso</h3>
  <button class="popup__btn-voltar">Voltar</button>
  <button class="popup__btn-redirecionar">
    <a href="/carrinho">Carrinho</a>
  </button>
</div>
