<div class="popup__favorito disable popup">
  <h3 class="popup__titulo">Item adicionado nos favoritos com sucesso</h3>
  <button class="popup__btn-voltar">Voltar</button>
  <button class="popup__btn-redirecionar">
    <a href="/favoritos">Favoritos</a>
  </button>
</div>
